@font-face {
    font-family: 'BM HANNA';
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    src: url('https://cdn.jsdelivr.net/gh/fonts-archive/BMHANNA/BMHANNA.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/BMHANNA/BMHANNA.woff') format('woff'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/BMHANNA/BMHANNA.otf') format('opentype'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/BMHANNA/BMHANNA.ttf') format('truetype');
}
